::selection {
  background-color: #00fafb;
  color: rgb(0, 0, 0); 
}

.custom-dots .slick-dots {
  @apply relative mt-4; /* Make dots relative and add margin-top */
  bottom: 0; /* Reset bottom to 0 */
}

.custom-dots .slick-dots li button:before {
  @apply text-black; /* Change dot color */
}

.custom-dots .slick-dots li.slick-active button:before {
  @apply text-[#00404f]; /* Highlight active dot */
}